@namespace inkscape 'http://www.inkscape.org/namespaces/inkscape';

/* PAGE/LAYOUT */

body {
  margin: 0;
}

/* don't display button input boxes */
input[id$="Checkbox"] {
  display: none;
}

.buttonBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: lightblue;
  padding-bottom: 10px;
}

  .buttonBar__shuttle {
    display: flex; 
    overflow: auto; /* add scrollbar if content exceeds container */
  }
 
  .buttonBar__button {
    background: white;
    padding: 5px;
    border: 1px solid;
    margin: 10px 0px 0px 10px;
    white-space: nowrap;
  }

  .buttonBar__button:hover {
    background: pink;
  }

.mainContent {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 530px) {
  .mainContent {
    display: flex;
    flex-direction: row;
  }
}

.floorsLayout {
  display: flex;
  flex-direction: column;
}

.floorsList {
  display: flex;
  flex-direction: column;
}

.remnant {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 530px) {
  .remnant {
    display: flex;
    flex-direction: column;
  }
}

.floorplanEntire {
  width: 80vw;
  height: auto;
}

  @media only screen and (min-width: 530px) {
    .floorplanEntire {
      width: 70vw;
      height: auto;
    }
  }

.floorItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0 10px;
}

.shrink {
  height: 25px;
  transform: skew(-25deg);
}

.expand {
  transform: skew(-0deg);
}

.infoPanel {
  width: 65vw;
  height: 25vw;
  border: solid;
  padding: 5px;
  margin-left: 25px;
}

  @media only screen and (min-width: 530px) {
    .infoPanel {
      width: 20vw;
      height: auto;
    }
  }

.expfloorerSource {
  border: 1px solid;
  padding: 10px;
}

.someMargin {
  margin: 15px;
}

/* FLOORPLAN ELEMENT FILLS */

.room {
  fill: white;
}

  .expand * .room_labeled:hover {
    fill: yellow;
  }

.doorway {
  fill: plum;
}

.windowway {
  fill: skyblue;
}

.step {
  fill: hotpink;
}

.background {
  fill: white;
}

/* PRESSED BUTTONS */

/* style pressed button labels */
#bedsCheckbox:checked    ~ * #beds-button,
#bedsStretchCheckbox:checked    ~ * #bedsStretch-button,
#toiletsCheckbox:checked ~ * #toilets-button,
#foodCheckbox:checked ~ * #food-button,
#msmtsCheckbox:checked   ~ * #msmts-button,
#doorsCheckbox:checked   ~ * #doors-button,
#expandCheckbox:checked  ~ * #expand-button {
  background-color: red;
}

.bed {
  display: none;
}

  #bedsCheckbox:checked ~ * .bed {
   display: block;
  }
  
.bed--stretch {
  display: none;
}

  #bedsStretchCheckbox:checked ~ * .bed--stretch {
   display: block;
  }

.toilet {
  display: none;
}

  #toiletsCheckbox:checked ~ * .toilet {
   display: block;
  }
  
.food {
  display: none;
}

  #foodCheckbox:checked ~ * .food {
   display: block;
  }

.msmt {
  display: none;
}

  #msmtsCheckbox:checked ~ * .msmt {
    display: block;
  }

.door {
  display: none;
}

  #doorsCheckbox:checked ~ * .door {
    display: block;
  }
  
#expandCheckbox:checked ~ * .shrink {
  width: 80vw;  
  height: 41.67vw;
  transform: skew(-0deg);
}  
  
@media only screen and (min-width: 530px) {
  #expandCheckbox:checked ~ * .shrink {
    width: 70vw;  
    height: 36.46vw;
    transform: skew(-0deg);
  }
}  

