.buttonBar,
.infoPanel,
.expfloorerSource {
  display: none;
}

#viewFloor6 > svg,
#viewFloor5 > svg {
  height: 31.25mm;
  width: 60mm;
}

#viewFloor4 > svg,
#viewFloor3 > svg,
#viewFloor2 > svg,
#viewFloor1 > svg {
  height: 62.5mm;
  width: 120mm;
}

.floorsLayout {
  flex-direction: row-reverse;
}

.floorViewerSpacer {
  flex-basis: 20%;
}

.shrink {
  transform: skew(-0deg);
}

.doorway {
  fill: white;
}

.windowway {
  fill: lightgray;
}

.step {
  fill: white;
}
